@layer tw_base, radix_ui, tw_components_utils;
@import "@radix-ui/themes/styles.css" layer(radix_ui);

@layer tw_base {
  @tailwind base;
}
@layer tw_components_utils{
  @tailwind components;
  @tailwind utilities;
}

:root {
  --accent-color: #ff8356;
  --fone-color: #fef9f9;

  --yellow: #ffc107;
  --white: #ffffff;
  --white-bg: #fdf7f2;

  --black: #111111;
  --medium-blue: #76bcf9;
  --blue: #54adff;
  --light-blue: #cce4fb;
  --green: #159638;
  --red: #f43f5e;
  --grey: #888888;

  --gradient-yr: #ff5f40;
  --gradient-yl: #ffcf45;
  --gradient-bl: #88c7fc;
  --gradient-br: #4da5f3;
    
  --time: 250ms;
  --shadow-default: 3px 8px 14px 0px #88C6FD30;
  --shadow-hover: 7px 13px 14px 0px #74B1E83D;

  --background-color: #a3a29a;
  --background-link: transparent;
  --text-color: #1C1E21;
  --card-color: #fff;
  --profile-background: #d4d4d8;
  --login-background: #f8fafc;
  
  --field-color: #eeeeee;
  --border: 3px solid transparent;
  --button-color-logout: #333;
  --background-color-form: #fff;
  --background-color-input: #fff;
  --input-text-color: #888888;
  --input-background: #cbd5e1;
  --placeholder-input-color: #888; 
  --button-color-option: #54adff55;

  --main-text:  #001129;
  --link-span:  #ffc107;
}

:root.dark {
  --background-color: #0f172a;
  --background-link: #ff75;
  --text-color: #f5f6f7cc;
  --card-color: #9994;
  --profile-background: #777;
  --login-background: #183250;

  --field-color: #909193;
  --border: 3px solid var(--blue);
  --button-color-logout: #54adff;
  --background-color-form: #1E325C;
  --background-color-input: #1E325C;
  --input-text-color: white;
  --input-background: #334155;
  --placeholder-input-color: #E0FFFF; 
  --button-color-option: #003366;
  
  --main-text:  #001129;
  --link-span:  #54adff;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ulAnimation {
  0% {
    transform: rotateX(-90deg)
}
70% {
    transform: rotateX(20deg) 
}
100% {
    transform: rotateX(0deg) 
}
}


body {
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 1s ease;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container{
   display: flex;
   flex-direction: column;
  background-color: var(--background-color);
  margin: 0 auto;
  padding-bottom: 40px;
  transition: all 1s ease;

  @media screen and (min-width: 320px) {
    width: 320px;
}

@media screen and (min-width: 768px) {
    width: 768px;
}

@media screen and (min-width: 1280px) {
    width: 1280px;
}
}

.inputfield:focus {
outline: none;
border: 1px solid blue;
  
}
.ant-divider-horizontal{
  margin: 0 !important;
}
.ant-popover .ant-popover-inner {
  max-width: 500px;
  @media screen and (max-width: 767px) {
    max-width: 350px;
  }
}


.pageWrapper{
  @apply  grid place-items-center h-full
}

.formWrapper{
  @apply   bg-slate-50 p-8 shadow-lg  border-green-400;
  display: flex;
  flex-direction: column;
  gap: 0.75rem/* 12px */;
  width: 300px;
  padding: 1rem/* 32px */;
  border-radius: 0.5rem/* 8px */;
  border-top-width: 4px;
  @media screen and (min-width: 768px) {
    width: 380px;
    padding: 2rem/* 32px */;
  }
}

.authinput{
  @apply border border-solid border-gray-600 rounded-lg py-2 px-4 bg-slate-300 w-full focus:outline-none focus:border-blue-500 h-[38px];
color: var(--main-text);
 }

.authbtn{
  @apply bg-green-600 text-neutral-50 text-2xl px-6 py-1 rounded-lg font-bold w-full flex items-center justify-center disabled:bg-gray-500
 }

.autherror{
  @apply bg-red-600/80 text-neutral-50 text-sm px-3 py-1 rounded-md  flex items-center justify-start h-[28px]
  
}
.autherror{
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.nav_bar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem ;
  height: 60px;
  @media screen and (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.mform {
  align-items: center
}
.mform>.cbtn {
  height: 38px;
}

.mlabel  {
  position: relative;

}

.mselect{
  border: 0;
  height: 38px;
  border-radius: 8px;
  padding: 4px 40px 4px 16px;
}
.moption{
  color: #ccc;
  font-weight: 600;
  height: 20px;
  z-index: 4;
}

.arrow{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  /* background-color: #cbd5e1; */
  height: 38px;
  width: 3rem;
  border-radius: 0 12px 12px 0 ;
  display: grid;
  place-items: center;
  outline: none;

}
.pos1{
  bottom: 0;
  right: 20px;
  color: #fff;
}
.pos1 > svg{
  color: #fff;
}
.log_title{
  color: var(--main-text);
}
.log_link{
  color: var(--main-text);
}

.arrow>svg {
  scale: 2;
  fill: #777;
}
.mdrawer .ant-drawer-title{
  color: var(--text-color) ;
}
.ant-drawer-close >span> svg{
  fill: var(--text-color) ;
}

.mcard-head{
  position: relative;
}

.mcard-title-btn{
  color: #e4e4e7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 60px 2px 30px;
}
.mcard-head>svg{
  pointer-events: none;
}
.mcard-title-arrow{
  position: absolute;
  right: 20px;
  top: 10px;
  /* transform: rotate(180deg); */

}
.mcard-content{
  background-color: var(--card-color);
  min-height: 60px;
  transition: all 1s ease;
  animation: ulAnimation 1s ease;   

}
.mcard-footer {
  background-color: var(--card-color);
  padding: 8px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  @media screen and (min-width: 768px) {
    padding: 8px 30px;
  }

}

.footer-btn-wrap{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    gap: 16px;

  }
}
.footer-btn-wrap >button{
  padding: 8px;
}
.footer-btn-wrap >div>button{
  padding: 8px;
}

.ant-modal-header{
  margin: 0 !important;
}
.modal-collection-name{
  margin-bottom: 16px;
}


.ant-modal .ant-modal-content {
  width: 300px;
  @media screen and (min-width: 768px) {
    width: 400px;

  }
}
.task-modal > div>.ant-modal-content{
  width: 300px;
  height: 480px;
  @media screen and (min-width: 768px) {
    width: 400px;

  }
} 
/* :contains-selector(a.active) */


.task-modal > div{
  display: flex;
  justify-content: center;
  align-items: center;

}
.task-modal > div>.ant-modal-content>.task-create{
  margin-top: auto;
  height: 40px;
}
.removal_modal >  div[tabindex='-1']{
  display: flex;
  justify-content: center;
  padding-right: 14px;

}
.removal_modal >  div[tabindex='-1'] >.ant-modal-content{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.modal-form {
  display: grid;
  gap: 22px;
  grid-template-rows: 140px 50px auto;
  /* height: 90%; */
}
.modal-form1 {
  display: grid;
  gap: 20px;
  grid-template-rows: 140px 50px auto;
  /* height: 90%; */
}
.mcard-content {
  display: grid;
  gap: 20px;
  align-items: center;
  padding: 8px 4px;
  /* transition: all 1s ease; */
  @media screen and (min-width: 768px) {
    padding: 8px 16px;
  }
}
.row{
  display: grid;
  grid-template-columns: 40px auto 100px 40px 40px 40px;
  grid-column-gap: 10px;
  align-items: center;
  /* transition: all 0.5s ease; */
  height: 32px;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  @media screen and (max-width: 767px) {
    grid-template-columns: 30px auto  40px ;
    grid-column-gap: 6px;
    max-width: 390px;
  }
 }
.row:hover{
  background-color: var(--button-color-option);
}

.mcard-content-text{
  justify-self: start;
  overflow: hidden !important;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  max-width: 200px;
  @media screen and (min-width: 768px) {
    max-width: 320px;
  }
}

.mcard-content-date{
  justify-self: center;
  font-size: 0.9rem;
  @media screen and (max-width: 767px) {
    display: none;
}
}
.mcard-content-btn{
  justify-self: center;
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
}
.box{
  justify-self: center;
}
.edit-modal-form{
  height: 260px;
}
.green-spot{
  position: absolute;
  height: 1.1em;
  width: 1.1em;
  background-color: var(--green);
  top: 8px;
  left: 6px;
  border-radius: 4px;
  pointer-events: none;
  @media screen and (min-width: 768px) {
    left: 12px;
  }

}
.profile {
  height: 100%;
}
.profile_card{
  position: relative;
  background-color: var(--profile-background);
  transition: all 1s ease;
  height: 520px;
  width: 320px;
  border-radius: 0.5rem/* 8px */;
  padding: 100px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media screen and (min-width: 768px) {
    padding: 140px 24px 16px;
    height: 520px;
    width: 400px;
  }

}
.avatar-wrap{

}

.avatar{
  pointer-events: none;
  z-index: 5 !important;
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    height: 210px;
    width: 210px;
}

}
.profile_main{
  padding-top: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 128px;
  }
}
.profile_form{
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(6, 1fr);
  height: 320px;
  position: relative;
  @media screen and (min-width: 768px) {
    gap: 12px;
  }
}
.profile_label{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.profile_input{
  padding: 6px 12px;
  border-radius: 12px;
  width: 260px;
  outline: none;
  background-color:var(--field-color);
}
.logout{
  justify-self: flex-end;
  align-self: start;
  margin-top: auto;
  width: 120px;
}
.save{
  position: absolute;
  bottom: -83px;
  right: 0;
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity));
  /* background-color: rgba(6, 86, 86, 0.9); */
  font-weight: 700;
    padding: 8px 24px;;
    border-radius: 0.5rem/* 8px */;
    width: 120px;
    @media screen and (min-width: 768px) {
      bottom: -46px;
      right: 0;
    }
  }
  .open_key{
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translate(50%, -50%);  
 
  }
  .edit_key{
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translate(-50%, -50%);  
 
  }
  .key_style{
 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid var(--link-span);
  background-color: var(--profile-background);
  display: grid;
  place-items: center;
  }
  .two_btns{
    left: -76px;
    bottom: -40px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 280px;
    /* transform: translate(0, -50%);  */
    @media screen and (min-width: 768px) {
      left: -91px;
      bottom: -20px;
      display: flex;
      justify-content: space-between;
      gap: 80px;
      width: 360px;
    }
  }
  .abs_btn{
    color: rgb(245 245 245);
     font-weight: 700;
      padding: 8px 16px;
      border-radius:20px;
      width: 100px;
  }

  .text_field, .expiry{
    border: 2px solid #777;
    border-radius:6px;
    padding: 4px;
    outline: none;
    background-color: var(--field-color);
  }
  .text_field:focus, .expiry:focus{
    border: 2px solid var(--blue);

  }

 .expiry{
  padding: 6px;;
  height: 36px;
  }
 .text-color{
  color: var(--text-color);
  }
  .userPhoto_input{
    position: relative;
    cursor: pointer;
    width: 130px;
    height: 130px;
    border-radius:50%;
    border: none;
    outline: none;
    z-index: 5 !important;
    /* background-color: var(--field-color); */
   
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;

    @media screen and (min-width: 768px) {
      width: 180px;
      height: 180px;
  }
  }

 .removal_modal>div[tabindex='-1']>.ant-modal-content>.ant-modal-footer  {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
 }

